openai==1.37.1
llama-index==0.10.58
llama-index-llms-ollama==0.2.2
ipython==8.26.0
llama-index-llms-azure-openai==0.1.10
llama-index-embeddings-azure-openai==0.1.11
llama-index-graph-stores-neo4j==0.2.9
llama-index-vector-stores-neo4jvector==0.1.6
networkx==3.3
pyvis==0.3.2
gradio==4.39.0
neo4j==5.23.0
ipykernel==6.29.5
docker==7.1.0